
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #11998E;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 130px;
  height: 60px;
  margin-right: 8px;
  border-radius: 10px;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.link-item {
  list-style-type: none;
}

.route-link {
  color: #87ffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
  
}

@media (max-width: 767px) {
  .route-link {
    margin-left: 10px;
  }
}
